<%= form_with model: @device, url: url do |form| %>
  <div>
    <%= form.label I18n.t(:label_name) %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label I18n.t(:label_ip) %>
    <%= form.select :ip, @connected_devices %>
  </div>

  <div>
    <%= form.label I18n.t(:label_mac) %>
    <%= form.text_field :mac %>
  </div>

  <div>
    <%= form.label I18n.t(:label_always_online) %>
    <%= render 'form_elements/checkbox', form: form, symbol: :always_online %>
  </div>

  <div class="settings">
    <%= form.submit "Save device" %>
  </div>
<% end %>