<%= form_with model: @device, url: url do |form| %>
  <div>
    <%= form.label I18n.t(:label_name) %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label I18n.t(:label_ip) %>
    <%= form.text_field :ip %>
  </div>

  <div>
    <%= form.label I18n.t(:label_mac) %>
    <%= form.text_field :mac %>
  </div>

  <div>
    <%= form.label I18n.t(:label_always_home) %>
    <%= render 'form_elements/checkbox', form: form, symbol: :always_home %>
  </div>

  <div>
    <%= form.label I18n.t(:label_personal) %>
    <%= render 'form_elements/checkbox', form: form, symbol: :personal %>
  </div>

  <div class="settings">
    <p></p>
    <%= form.submit "Save device" %>
  </div>
<% end %>

<script>
(function($) {
  $.fn.spinner = function() {
    this.each(function() {
      var el = $(this);

      // add elements
      el.wrap('<span class="spinner"></span>');     
      el.before('<span class="sub">-</span>');
      el.after('<span class="add">+</span>');

      // substract
      el.parent().on('click', '.sub', function () {
        if (el.val() > parseInt(el.attr('min')))
          el.val( function(i, oldval) { return --oldval; });
      });

      // increment
      el.parent().on('click', '.add', function () {
        if (el.val() < parseInt(el.attr('max')))
          el.val( function(i, oldval) { return ++oldval; });
      });
    });
  };
})(jQuery);

$('input[type=number]').spinner();
</script>