<div class="day">
  <div class='hours-graph'>
    <% (Date.today.beginning_of_day.to_time.to_i..Date.today.end_of_day.to_time.to_i).step(3.minute).each do |i| %>
      <% time = Time.at(i)%>
      <div 
        class="away<%= time.strftime('%M') == '00' ? ' hour' : '' %> <%= time.strftime('%H%M') %>" 
        title="<%= time.strftime('%H:%M') %>" 
        onclick="scrollRowToView('<%= time.strftime('%H%M') %>')">
      </div>
    <% end %>
  </div>
  <div class='hours'>
    <%('00'..'24').each do |i| %>
      <p><%= i %></p>
    <% end %>  
  </div>
</div>

<script>
  function scrollRowToView(time) {
    let element = document.getElementById(time);
    if (element) element.scrollIntoView( { behavior: 'smooth', block: 'start' } );
  }
</script>

