<h3>Today records</h3>
<%= render 'day_visualizer', history: false %>

<div class="tbl-header">
  <table ellpadding="0" cellspacing="0" border="0">
    <tr>
      <th>Home status</th>
      <th>Time</th>
      <th>Online devices</th>
    </tr>
  </table>
</div>
<div class="tbl-content today-data-rows">
  <table ellpadding="0" cellspacing="0" border="0">
    <% @occupancies.each do |occupancy| %>
      <tr class="<%= occupancy.is_home ? 'home' : 'away' %>" id="<%= occupancy.created_at.strftime('%H%M') %>">
        <td><%= occupancy.is_home ? 'home' : 'not home' %></td>
        <td class="time"><%= occupancy.created_at.strftime('%H:%M') %></td>
        <td><%= occupancy.devices_number %></td>
      </tr>
    <% end %>
  </table>
</div>

<script>
  function getElementByNumericalClass(id) {
    return document.querySelector('.' + id.replace(/\b\d/g, '\\00003$&'));
  }

 $(document).ready(function() { 
  document.querySelectorAll(".home .time").forEach((time) => { 
    let id = time.innerText.replace(':', '');
    let element = getElementByNumericalClass(id);
    if (element) element.className = element.className.replace("away", "at-home");
  });

  let latestRecord = document.querySelector(".today-data-rows tr:last-child");
  let id = latestRecord.id;
  let element = getElementByNumericalClass(id)
  
  element.classList.add('now');
 });
</script>