<%= form_with model: @settings, url: url do |form| %>
  <div>
    <%= form.label I18n.t(:label_is_home_threshold) %>
    <%= form.number_field :is_home_threshold, in: 0..50 %>
  </div>

  <div>
    <%= form.label I18n.t(:label_alarm) %>
    <%= render 'form_elements/checkbox', form: form, symbol: :alarm %>
  </div>

  <div>
    <%= form.label I18n.t(:label_alarm_time)  %>
    <%= form.time_field :alarm_time, value: @settings.alarm_time.strftime("%H:%M"), min: 'hh:mm:ss', max: 'hh:mm:ss' %>
  </div>

  <div>
    <%= form.label I18n.t(:label_sunset_offset) %>
    <%= form.number_field :sunset_offset, in: -120..120 %>
  </div>
  
  <div class="settings">
    <%= form.submit "Save settings" %>
  </div>
<% end %>

<script>
(function($) {
  $.fn.spinner = function() {
    this.each(function() {
      var el = $(this);

      // add elements
      el.wrap('<span class="spinner"></span>');     
      el.before('<span class="sub">-</span>');
      el.after('<span class="add">+</span>');

      // substract
      el.parent().on('click', '.sub', function () {
        if (el.val() > parseInt(el.attr('min')))
          el.val( function(i, oldval) { return --oldval; });
      });

      // increment
      el.parent().on('click', '.add', function () {
        if (el.val() < parseInt(el.attr('max')))
          el.val( function(i, oldval) { return ++oldval; });
      });
    });
  };
})(jQuery);

$('input[type=number]').spinner();
</script>